input{
    border: 1px solid rgb(165, 165, 165);
    border-radius: 0.2rem;
    width:100px;
}
td,th{
    text-align: center;
}
/* .prod__description{
    width:1rem !important;
    border:2px solid green;
} */